{% extends "material/base.html" %}

<!-- Title define area -->
{% block title %}

{% endblock title %}

{% block sidebar %}
    
<!-- sidebar menu -->
	<ul class="nav nav-sidebar">
	    <li><a href="{% url 'outmaterial-index' %}">Overview</a></li>
	    <li><a href="{% url 'outmaterial-add' %}">New</a></li>
	    <li><a href="">Analyse</a></li>
	</ul>    
{% endblock sidebar %}

<!-- main content -->
{% block main %}
    
{% endblock main %}

{% block js %}
			$('#outmaterial-li').addClass('active')	
{% endblock js %}